
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 250px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div ng-controller="DetailEventController" class="padding">

        <super-navbar>
            <super-navbar-title>
                Get Out
            </super-navbar-title>
            <super-navbar-button ng-if="luckyEvent" ng-click="feelingLucky()" side="right">
                <button type="button">Reroll</button>
            </super-navbar-button>
        </super-navbar>

    <div class="froodBox">
      <img ng-src="{{currentEvent.image}}" class="img-responsive" style ="width:100%">
        <div class="row" style="width:100%; margin-top: 10px">
          <div class="col-xs-7">
                <div class="col-xs-12">
                    <h1>{{currentEvent.name}}</h1>
                </div>
                <div class="col-xs-12" style="margin-top: 3px">
                    <h3>{{currentEvent.address}}</h3>
                </div>
                <div class="col-xs-12" style="margin-top: 3px">
                    <h3>{{currentEvent.city}}</h3>
                </div>
                <div class="col-xs-12">
                    <img ng-repeat="filter in currentEvent.activityMood" src="{{filterLogo(filter)}}" class="img-responsive" style="height: 20px; display: inline-block; margin-right: 3px; margin-top: 5px">
                </div>
            </div>
            <div class="col-xs-5" style="text-align: right" >
                  <h3>{{currentEvent.dateTime | date: 'short'}}</h3>
                  <h3 style="color: #11722c; margin-top: 3px">{{currentEvent.displayCost}}</h3>
            </div>

        </div>

        <div class="row" >
          <div class="col-xs-12">

                <div style="margin-top: 20px; margin-bottom: 20px;" class="col-xs-12">
                    <p>{{currentEvent.desc}}</p>
                    <a ng-click="openExternalURL(currentEvent.eventURL)">More Information</a>
                </div>


          </div>
        </div>
        <div id="map" style="width: 100%"></div>
        <script>
        window.onload=function(){
    	     var lat = angular.element(document.querySelector('[ng-controller="DetailEventController"]')).scope().lat;
           var lng = angular.element(document.querySelector('[ng-controller="DetailEventController"]')).scope().lng;
           var userLat = angular.element(document.querySelector('[ng-controller="DetailEventController"]')).scope().userLat;
           var userLng = angular.element(document.querySelector('[ng-controller="DetailEventController"]')).scope().userLng;
           initMap(lat, lng, userLat, userLng)
        }
          function initMap(lat, lng, userLat, userLng) {
            var user = {lat: userLat, lng: userLng};
            var center = {lat: lat, lng: lng};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 16,
              center: center
            });
            var marker = new google.maps.Marker({
              position: user,
              icon: 'http://i.stack.imgur.com/orZ4x.png',
              map: map,
              title: "You"
            });
            var marker = new google.maps.Marker({
              position: center,
              map: map,
              title: center
            });
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxoDQyxjsreQFKxIsiVHLq2C8OA89Whhk&callback=initMap"
        async defer></script>
      </div>

  </div>
  </body>
</html>
