<head>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
</head>
<div class="padding" ng-controller="IndexController">

    <super-navbar>
        <super-navbar-title>
            Get Out
        </super-navbar-title>
    </super-navbar>

<div>
    <div class="froodBox" ng-click= "updateCurrentEvent(event)" ng-repeat="event in testEvents">
        <div class="wrapper">
            <img src="{{event.image}}" style ="width:100% height: 200px"class="img-responsive" alt="Responsive image">
            <p class="absolute-text">{{event.name}}</a> </p>
        </div>


        <div class="row" style="margin:3px">
            <div class="col-xs-8">
                <h3>{{event.subLocation}}</h3>
                <h3>{{event.time}}</h3>
            </div>

            <div class="col-xs-4">
                <h3> {{event.eventType}} </h3>
                <h3 ng-if="event.activityType">{{event.activityType}}</h3>
                <h3 ng-if="event.foodType">{{event.foodType}}</h3>
            </div>

        </div>

    </div>
  </div>
</div>
