<head>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.8.7/rzslider.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.8.7/rzslider.min.js"></script>
  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 250px;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<div class="padding" ng-controller="IndexController">

    <super-navbar>
        <super-navbar-title>
            Events
        </super-navbar-title>
        <super-navbar-button ng-click="showInitialView()" side="left">
            <button type="button">Filter</button>
        </super-navbar-button>

        <super-navbar-button ng-click="sortMenu = !sortMenu;" side="right">
              <button class="dropbtn">Sort</button>
        </super-navbar-button>

    </super-navbar>

    <div class="dropdown">
          <a href="#TOP">
          <div ng-show="sortMenu" class="dropdown-content show">
            <button class="btn-info btn-dropdown" ng-class="{'active': sortName=='nearBy'}" ng-click="sortBy = 'fields.distanceFromUser';sortMenu = false; reverse = false; sortName ='nearBy'">Near By</button>
            <button class="btn-info btn-dropdown" ng-class="{'active': sortName=='soon'}" ng-click="sortBy = 'fields.dateTime';sortMenu = false; reverse = false; sortName = 'soon'">Starting Soonest</button>
            <button class="btn-info btn-dropdown" ng-class="{'active': sortName=='leastExp'}" ng-click="sortBy = 'fields.cost';sortMenu = false; sortName='leastExp'">Least Expensive</button>
            <button class="btn-info btn-dropdown" ng-class="{'active': sortName=='mostExp'}" ng-click="sortBy = 'fields.cost';reverse = true; sortMenu = false; sortName='mostExp'">Most Expensive</button>
          </div>
          </a>
        </div>

<div id="#TOP">
    <div class="froodBox" ng-click= "updateCurrentEvent(event)" ng-repeat="event in displayEvents | orderBy: sortBy:reverse">
        <div class="wrapper">

          <img src={{event.fields.image[0].url}} style ="width:100%; max-height: 300px; min-height: 200px"class="img-responsive" alt="Responsive image">
          <p class="absolute-text">{{event.fields.name}}</a> </p>

        </div>

        <div class="row" style="margin:3px">

          <div class="col-xs-5">
            <h3>{{event.fields.city}}</h3>
            <img ng-repeat="filter in event.fields.activityMood" src="{{filterLogo(filter)}}" class="img-responsive" style="height: 20px; display: inline-block;">
          </div>

          <div class="col-xs-7" style="text-align: right">
            <h3>{{event.fields.dateTime | date: 'shortTime'}}</h3>
            <h3 style="color: #11722c;">{{event.fields.displayCost}}</h3>
          </div>

        </div>




    </div>
  </div>
</div>
