<head>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
</head>
<div class="padding" ng-controller="IndexController">

    <super-navbar>
        <super-navbar-title>
            Get Out
        </super-navbar-title>
    </super-navbar>

<div>
    <div class="froodBox" ng-click= "updateCurrentEvent(event)" ng-repeat="event in displayEvents">
        <div class="wrapper">
            <img src={{event.fields.image[0].url}} style ="width:100%; max-height: 360px; min-height: 250px"class="img-responsive" alt="Responsive image">
            <p class="absolute-text">{{event.fields.name}}</a> </p>
        </div>

        <div class="row" style="margin:3px">
            <div class="col-xs-8">
                <h3>{{event.fields.city}}</h3>
                <h3>{{event.fields.dateTime | date: 'short'}}</h3>
            </div>

            <div class="col-xs-4">
                <!--<h3> {{event.fields.Energy\ Level}} </h3>-->
                <h3> {{event.fields.activityMood}} </h3>
                <!--<h3 ng-if="event.activityType">{{event.activityType}}</h3>
                <h3 ng-if="event.foodType">{{event.foodType}}</h3>-->
            </div>

        </div>

    </div>
  </div>
</div>
