<super-navbar>
  <super-navbar-title>
    Get Out
  </super-navbar-title>
</super-navbar>

<head>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.8.7/rzslider.min.css"/>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.8.7/rzslider.min.js"></script>
</head>

<div ng-controller="InitialController" class="padding">

  <img src="/icons/landingImage.jpg" class="img-responsive landingImage">

    <div style="height: 100px;">
      <rzslider rz-slider-model="energySlider.minValue" rz-slider-high="energySlider.maxValue" rz-slider-options="energySlider.options"></rzslider>
    </div>

    <div ng-click="addFilter('Mad Skillz');activeMS=!activeMS" ng-class="{'activeFilter': activeMS}" class="col-xs-4 outlineTest">
      <img src="/icons/Mad Skillz white.png" class="img-responsive">
      <label class = "whiteword">Mad Skillz</label>
    </div>

    <div ng-click="addFilter('Bottoms Up');activeBU=!activeBU" ng-class="{'activeFilter': activeBU}"class="col-xs-4 outlineTest">
      <img src="/icons/Bottoms up WHITE.png" class="img-responsive">
      <label class = "whiteword">Bottoms Up</label>
    </div>

    <div ng-click="addFilter('Cultural Infusion'); activeCF=!activeCF" ng-class="{'activeFilter': activeCF}" class="col-xs-4 outlineTest">
      <img src="/icons/cultureal fusion white.png" class="img-responsive">
      <label class = "whiteword">Cultural Fusion</label>
    </div>

    <div ng-click="addFilter('Chill Zone');activeCZ=!activeCZ" ng-class="{'activeFilter': activeCZ}"class="col-xs-4 outlineTest">
      <img src="/icons/thrill seeker white.png" class="img-responsive">
      <label class = "whiteword">Chill Zone</label>
    </div>

    <div ng-click="addFilter('Cheap Thrills');activeS=!activeS" ng-class="{'activeFilter': activeS}" class="col-xs-4 outlineTest">
      <img src="/icons/cheap thrills white.png" class="img-responsive">
      <label class = "whiteword">Cheap Thrills</label>
    </div>

    <div ng-click="addFilter('Night Owl');activeNO=!activeNO" ng-class="{'activeFilter': activeNO}" class="col-xs-4 outlineTest">
      <img src="/icons/night owl white.png" class="img-responsive">
      <label class = "whiteword">Night Owl</label>
    </div>

    <div ng-click="addFilter('Family Fun');activeFF=!activeFF" ng-class="{'activeFilter': activeFF}" class="col-xs-4 outlineTest">
      <img src="/icons/Family Fun White.png" class="img-responsive" >
      <label class = "whiteword">Family Fun</label>
    </div>

    <div ng-click="addFilter('Lone Wolf');activeLW=!activeLW" ng-class="{'activeFilter': activeLW}"class="col-xs-4 outlineTest">
      <img src="/icons/lone wolf white.png" class="img-responsive" >
      <label class = "whiteword">Lone Wolf</label>
    </div>

    <div ng-click="addFilter('Date Night');activeDN=!activeDN" ng-class="{'activeFilter': activeDN}"class="col-xs-4 outlineTest">
      <img src="/icons/Date night black.png" class="img-responsive">
      <label class = "whiteword">Date Night</label>
    </div>


  <button ng-click="initializeFeed()" class="btn btn-info" style="width:100%; border:3px solid; border-color:white; background-color:black; margin-top:3px">Get Out There!</button>
   <button ng-click="feelingLucky()" class="btn btn-info" style="width:100%; border:3px solid; border-color:white; background-color:black; margin-top:5px">I'm Feeling Lucky!</button>
</div>
