<super-navbar>
  <super-navbar-title>
    Get Out
  </super-navbar-title>
</super-navbar>

<head>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.8.7/rzslider.min.css"/>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.8.7/rzslider.min.js"></script>
</head>

<div ng-controller="InitialController" class="padding">

  <img src="/icons/festivalgirl.jpg" class="img-responsive landingImage">

    <div style="height: 100px;">
      <rzslider rz-slider-model="energySlider.minValue" rz-slider-high="energySlider.maxValue" rz-slider-options="energySlider.options"></rzslider>
    </div>

    <div ng-click="addFilter('Date Night');activeDN=!activeDN" ng-class="{'activeFilter': activeDN}"class="col-xs-4 outlineTest">
      <img src="/icons/dateNight.png" class="img-responsive">
      <label>Date Night</label>
    </div>
    <div ng-click="addFilter('Family Fun');activeFF=!activeFF" ng-class="{'activeFilter': activeFF}" class="col-xs-4 outlineTest">
      <img src="/icons/familyFun.png" class="img-responsive" >
      <label>Family Fun</label>
    </div>
    <div ng-click="addFilter('Lone Wolf');activeLW=!activeLW" ng-class="{'activeFilter': activeLW}"class="col-xs-4 outlineTest">
      <img src="/icons/loneWolf.png" class="img-responsive" >
      <label>Lone Wolf</label>
    </div>
    <div ng-click="addFilter('Bottoms Up');activeBU=!activeBU" ng-class="{'activeFilter': activeBU}"class="col-xs-4 outlineTest">
      <img src="/icons/bottomsUp.png" class="img-responsive">
      <label>Bottoms Up</label>
    </div>
    <div ng-click="addFilter('Mad Skillz');activeMS=!activeMS" ng-class="{'activeFilter': activeMS}" class="col-xs-4 outlineTest">
      <img src="/icons/madSkillz.png" class="img-responsive">
      <label>Mad Skillz</label>
    </div>
    <div ng-click="addFilter('Cultural Infusion'); activeCF=!activeCF" ng-class="{'activeFilter': activeCF}" class="col-xs-4 outlineTest">
      <img src="/icons/culturalInfusion.png" class="img-responsive">
      <label>Cultural Fusion</label>
    </div>
    <div ng-click="addFilter('Night Owl');activeNO=!activeNO" ng-class="{'activeFilter': activeNO}" class="col-xs-4 outlineTest">
      <img src="/icons/nightOwl.png" class="img-responsive">
      <label>Night Owl</label>
    </div>
    <div ng-click="addFilter('Cheap Thrills');activeS=!activeS" ng-class="{'activeFilter': activeS}" class="col-xs-4 outlineTest">
      <img src="/icons/cheapThrills.png" class="img-responsive">
      <label>Cheap Thrills</label>
    </div>
    <div ng-click="addFilter('Chill Zone');activeCZ=!activeCZ" ng-class="{'activeFilter': activeCZ}"class="col-xs-4 outlineTest">
      <img src="/icons/chillZone.png" class="img-responsive">
      <label>Chill Zone</label>
    </div>




  <button ng-click="initializeFeed()" class="btn btn-info" style="width:100%; border:3px solid; border-color:white; background-color:black; margin-top:3px">Get Out There!</button>
   <button ng-click="feelingLucky()" class="btn btn-info" style="width:100%; border:3px solid; border-color:white; background-color:black; margin-top:5px">I'm Feeling Lucky!</button>
</div>
