<head>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.8.7/rzslider.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.8.7/rzslider.min.js"></script>
  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 250px;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<div class="padding" ng-controller="IndexController">

    <super-navbar>
        <super-navbar-title>
            Near By
        </super-navbar-title>
    </super-navbar>


        <div id="map" style="width: 100%"></div>
        <script>
        window.onload=function(){
           var lat = angular.element(document.querySelector('[ng-controller="IndexController"]')).scope().geolocationlat;
           var lng = angular.element(document.querySelector('[ng-controller="IndexController"]')).scope().geolocationlng;
           var locationsToDisplay = angular.element(document.querySelector('[ng-controller="IndexController"]')).scope().displayEvents;
           alert(JSON.stringify(locationsToDisplay));
           alert(lat);
           alert(lng);
           initMap(lat, lng, locationsToDisplay);
        }
          function initMap(lat, lng, locationsToDisplay) {
            var center = {lat: lat, lng: lng};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 10,
              center: center
            });
            var infowindow = new google.maps.InfoWindow(), marker, i;
            var contentStrings = []
            for (i in locationsToDisplay) {
              var name = locationsToDisplay[i].fields.name;
              var energyLevel = locationsToDisplay[i].fields.energyLevel;
              var moods = locationsToDisplay[i].fields.activityMood;
              var contentString = '<div id="content">'+
            '<h1>'+ name + '</h1>'+ '<h3>Energy Level:'+ energyLevel+ '</h3>'+ '<p>Activity Type(s):'+ moods+ '</p>'+
            '</div>';
              contentStrings.push(contentString);

              var marker = new google.maps.Marker({
                position: {lat: parseFloat(locationsToDisplay[i].fields.lat), lng:parseFloat(locationsToDisplay[i].fields.lng)},
                map: map,
                title: locationsToDisplay[i].fields.name
              });
              google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function(){
                  infowindow.setContent(contentStrings[i]);
                  infowindow.open(map, marker);
                }
              })(marker, i));
            };
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxoDQyxjsreQFKxIsiVHLq2C8OA89Whhk&callback=initMap"
        async defer></script>
        {{displayEvents}}
</div>
