.absolute-text{
  background-color: white;
  position:absolute;
  bottom:-20px;
  font-weight: bold ;
  font-size:24px;
  padding:10px 20px;
  color: black;
  margin-left: 15px;
  text-align:left;
}

.absolute-text a{font-size:16px; color:#b92b27;}

@font-face {
    font-family: Pacifico;
    src: url(Pacifico.ttf);
    font-family: "Helvetica Neue";
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.wrapper{
  position:relative;
  background-image: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  vertical-align: top;

}
label{
  font-size: 10px;
}

.froodBox {
  border: 1px solid;
  border-color: #ABADAD;
  -webkit-box-shadow: 1px 1px 2px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 2px 2px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 2px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  margin-bottom: 20px
}
.froodBoxAdd {
  border: 2px solid;
  border-color: orange;
  border-radius: 8px;
  padding: 10px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  margin-bottom: 20px
}
.outlineTest {
  border: 3px solid;
  border-color: white;
  background-color: #06c6b2;
  margin-bottom: 3px;
  text-align: center;
  border-radius:10px;
}
label.whiteword{
  color: #ffffff;
  font-size: 11px;
}
.landingImage{
  border: 3px solid;
  border-color: white;
}

.activeFilter{
  background-color: #036c61;
}

.costDisplay{
  color: #00cd00;
}


.froodBoxExtend {
  border: 2px solid;
  border-color: #5cb85c;
  background : #bad1d4;
  border-radius: 8px;
  padding: 10px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  margin-bottom: 20px
}
.rotate180 {
  transform: rotate(-180deg);
  transition: .3s;
}

.rotate0 {
  transition: .3s;
}

.dropdown {
    margin: 0px auto;
    position: relative;
    display: inline-block;
    z-index: 100;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: fixed;
    right: 10px;
    top: 2px;
    background-color: #f9f9f9;
    min-width: 160px;
    max-width: 200px;
    border: 1px solid;
    border-color: black;
    box-shadow: 0px 8px 16px 0px rgba(192,192,192,0.7);
}
.show {display:block;}

.btn-dropdown {
  width: 100%;
  height: 35px;
  margin:0px auto;
  display: block;
}
.btn-info{
  background-color: black;
  border-color: black;
}
.btn-info.active{
  background-color: grey !important;
  border-color: black !important;
  color: white;
  font-weight: bold;
}

.btn-getout {
  background-color: white;
  border-color: black;
  border-radius: 13px;
  border: 3px solid;
  margin: 13px auto;
  display: block;
  height: 40px;
  width: 50%;
  font-weight: 900;
  color: black;
}

.btn-getout:active {
  background-color: black;
  color: white;
}

.btn-lucky {
  background-color: #06c6b2;
  border: 2px solid;
  border-color: #06c6b2;
  border-radius: 13px; 
  margin: 3px auto;
  display: block; 
  width: 98%;
  height: 30px;
  color: white;
  font-weight: bold;
} 

.btn-lucky:active {
  background-color: #036c61;
  border-color: #036c61;
}

h1{
  padding: 0px;
  margin: 0px auto;
  font-size:4.5vw;
}
h2{
  padding: 0px;
  text-align: center;
  margin: 0px auto;
  font-size:5vw;
}
h3{
  padding: 0px;
  margin: 0px auto;
  font-size:4vw;
}
h4{
  padding: 0px;
  margin: 0px auto;
  font-size:3.5vw;
}
@media (max-device-width: 640px){
  h1{
    padding: 0px;
    margin: 0px auto;
    font-size:4.3vw;
  }
  h2{
    padding: 0px;
    text-align: center;
    margin: 0px auto;
    font-size:4vw;
  }
  h3{
    padding: 0px;
    margin: 0px auto;
    font-size:3.5vw;
  }
  h4{
    padding: 0px;
    margin: 0px auto;
    font-size:3.5vw;
  }
}
